Node-Red/flows.json
[{"id":"159770bc.7f0647","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"621008e3.737448","type":"ui_form","z":"159770bc.7f0647","name":"","label":"","group":"be1ec958.db4f28","order":1,"width":0,"height":0,"options":[{"label":"Enter Your query","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":220,"wires":[["18336556.daeafb"]]},{"id":"18336556.daeafb","type":"function","z":"159770bc.7f0647","name":"","func":"msg.payload = msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":160,"wires":[["4fd2db16.bbd5b4","502c43ff.e7fe1c"]]},{"id":"2621b8c7.62c9c8","type":"function","z":"159770bc.7f0647","name":"","func":"msg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":180,"wires":[["fc2fc48d.1bdec"]]},{"id":"502c43ff.e7fe1c","type":"watson-conversation-v1","z":"159770bc.7f0647","name":"Customer Care","workspaceid":"df0a7d20-b2ac-4cc1-b51b-983ce5c7a359","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.us-south.assistant.watson.cloud.ibm.com/instances/91b0f176-7683-4e97-8954-d658580ca4c8","timeout":"","optout-learning":false,"x":420,"y":80,"wires":[["6614393e.d81a68","2621b8c7.62c9c8"]]},{"id":"4fd2db16.bbd5b4","type":"ui_text","z":"159770bc.7f0647","group":"be1ec958.db4f28","order":2,"width":0,"height":0,"name":"","label":"You : ","format":"{{msg.payload}}","layout":"row-left","x":410,"y":320,"wires":[]},{"id":"6614393e.d81a68","type":"debug","z":"159770bc.7f0647","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":80,"wires":[]},{"id":"fc2fc48d.1bdec","type":"ui_text","z":"159770bc.7f0647","group":"be1ec958.db4f28","order":3,"width":0,"height":0,"name":"","label":"Bot : ","format":"{{msg.payload}}","layout":"row-left","x":700,"y":320,"wires":[]},{"id":"be1ec958.db4f28","type":"ui_group","z":"","name":"ChatBox","tab":"637451eb.655008","order":2,"disp":true,"width":9,"collapse":false},{"id":"637451eb.655008","type":"ui_tab","z":"","name":"Customer care helpdesk","icon":"dashboard","order":1,"disabled":false,"hidden":false}]